body{
  background-color:#2f4f4f;
  color:#f0f8ff;
}
img{
  float:left;
  height:60px;
  width:60px;
  margin-right:25px;
}
.name{
  background-color:#66cdaa;
  width:125px;
  height:20px;
  font-size:120%;
  margin-left:30px;
  padding:10px 5px;
}
li{
  list-style:none;
  margin-top:10px;
}
a,p,span{
  font-family:monospace;
  font-size:120%;
}
a{
  text-decoration:none;
}
.lamy{
  text-align:center;
  font-size:150px;
  color:#48b5e3;
}
