body{
  background-color:#008080;
  color:#f0f8ff;
}
img{
  float:left;
  height:50px;
  width:50px;
}
h1{
  color:#00bfff;
  text-align:center;
  fint-size:130%;
}
a,p,span{
  font-family:monospace;
  font-size:120%;
}
a{
  text-decoration:none;
}
.lamy{
  text-align:center;
  font-size:150px;
  color:#48b5e3;
}
